#head{
  background: rgba(140, 79, 56, .2);
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 45px;
  z-index: 100;
  transition: all 200ms ease-in;
  }
  .name{
    display: inline-block;
    color: #fff;
    .logo{
      font-size: 1.7rem;
      font-family: 'Oswald', sans-serif;
    }
  }
  .top-nav{
    text-align: right;
    display: inline-block;
    width: 90%;

    li{
      text-transform: capitalize;
      padding-right: 50px;
      display: inline-block;
      a{
        color: #fff;
        text-decoration: none;
        &:hover{
          transition: all ease-in-out .6s;
          color: #EFB666;
        }
      }
    }
  }
